.btn-twitter {
  text-align: left;
  background: #55acee;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    background: darken(#55acee, 10%);
  }

  .fa {
    margin-right: 1rem;
    width: 22px;
  }
}
