<div class="toolbar-container">
  <div class="row toolbar" [ngClass]="{'toolbar--bottom': verticalAlign === 'bottom'}">


    <nav class="col navbutton toolbar-item"
      [ngClass]="{'right-border': leftMenu !== '' || leftNavLink !== ''}">

      <a *ngIf="leftMenu === '' && leftNavLink !== ''" [routerLink]="leftNavLink">
        <i class="fa fa-chevron-left"></i>
      </a>

      <div [ngSwitch]="leftMenu">
        <div *ngSwitchCase="'navigation'">
          <a (click)="closeMenu()" href="javascript: void(0);">
            <i class="fa fa-times"></i>
          </a>
        </div>

        <div *ngSwitchCase="'competitions'">
          <a (click)="showCompetitionsMenu()" href="javascript: void(0);">
            <i class="fa fa-trophy"></i>
          </a>
        </div>

        <div *ngSwitchCase="'user'">
          <a (click)="showUserMenu()" href="javascript: void(0);">
            <i class="fa fa-user-circle-o"></i>
          </a>
        </div>

        <div *ngSwitchCase="'backLink'">
          <a (click)="navigateBack()" href="javascript: void(0);">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>

    </nav>

    <h1 class="col title toolbar-item">{{ title }}</h1>

    <nav class="col navbutton toolbar-item"
      [ngClass]="{'left-border': rightMenu !== '' || rightNavLink !== ''}">

      <a *ngIf="rightMenu === '' && rightNavLink !== ''" [routerLink]="rightNavLink">
        <i class="fa fa-chevron-left"></i>
      </a>

      <div [ngSwitch]="rightMenu">
        <div *ngSwitchCase="'navigation'">
          <a (click)="closeMenu()" href="javascript: void(0);">
            <i class="fa fa-times"></i>
          </a>
        </div>

        <div *ngSwitchCase="'competitions'">
          <a (click)="showCompetitionsMenu()" href="javascript: void(0);">
            <i class="fa fa-trophy"></i>
          </a>
        </div>

        <div *ngSwitchCase="'user'">
          <a (click)="showUserMenu()" href="javascript: void(0);">
            <i class="fa fa-user-circle-o"></i>
          </a>
        </div>
      </div>

    </nav>

  </div>
</div>

